@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: #282828;
  background-image: url("img/bg.svg");
  background-position: top;
}

.main {
  min-height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main .say {
  margin-top: 7px;
  margin-bottom: 20px;
  color: #ebdbb2;
  font-weight: bold;
  animation: fadeIn 2s ease-in-out;
}


.main .image-container {
  margin-top: 30px;
  padding: 8px;
}

.main .image-container h1 {
  color: #fbf1c7;
  text-align: center;
  margin-bottom: 10px;
  font-size: 75px;
  animation: fadeIn 1.5s ease-in-out;
}

.main .image-container p {
  color: #ebdbb2;
  text-align: center;
  margin-bottom: 40px;
  animation: fadeIn 1.8s ease-in-out;
}

.main .image-container .sosmed {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 3s ease-in-out;
}

.main .image-container .sosmed button {
  background: transparent;
  color: #fbf1c7;
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 25px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}

.main .faq-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 4s ease-in-out;
}

.main .faq-container .faq-content {
  max-width: 500px;
  max-height: 450px;
  display: block;
  margin-top: 2px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 15px 25px;
  background-color: #fbf1c7; 
  color: #282828; 
  border: solid 8px #8ec07c; 
  border-radius: 4px;
  cursor: auto;
  font-size: 16px;
  width: 425px;
  height: 350px;
  text-align: left;
}

.main .blog {
  max-width: 1335px;
  max-height: 50000px;
  display: block;
  margin-top: 40px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 15px 25px;
  background-color: #fbf1c7; 
  color: #282828; 
  border: solid 8px #8ec07c; 
  border-radius: 4px;
  cursor: auto;
  font-size: 16px;
  width: 100%;
  text-align: left; 
  animation: fadeIn 1.5s ease-in-out;
}

.main .blog img {
  width: 10%;
  height: 10%;
  border-radius: 100%; 
}

#chatbox {
  max-width: 1335px;
  width: 100%;
  background-color: #fbf1c7;
  border-radius: 10px;
  border: solid 8px #8ec07c; 
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: fadeIn 1.5s ease-in-out;
}

#chatlog {
  height: 350px;
  overflow-y: auto;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  /* Custom scrollbar styling */
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

#chatlog::-webkit-scrollbar {
  width: 8px;
}

#chatlog::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px; 
  border: 2px solid #f1f1f1;
}

#chatlog::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

#chatlog::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

#chatlog::-webkit-scrollbar-track:hover {
  background: #e0e0e0;
}

#chatlog::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

#chatlog div {
  position: relative;
  margin-bottom: 5px;
  min-width: 100px;
  max-width: 65%;
  width: fit-content;
  word-wrap: break-word;
  white-space: pre-wrap;
  padding: 10px 15px;
  border-radius: 15px;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #282828;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.padingo {
  background-color: #fe8019;
  color: #fff;
  align-self: flex-start;
  border-top-left-radius: 0px;
  position: relative; /* Required for ::after */
  animation: popOut 0.4s ease-out; /* Apply the animation */
}

.padingo::after {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #fe8019;
  border-bottom: 0;
  margin-top: 10px;
}

/* User Chat Bubble */
.user {
  background-color: #b8bb26;
  color: #000;
  align-self: flex-end;
  border-top-right-radius: 0px;
  position: relative; /* Required for ::after */
  animation: popOut 0.4s ease-out; /* Apply the animation */
}

.user::after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #b8bb26;
  border-bottom: 0;
  margin-top: 10px;
}

#userInput {
  padding: 10px;
  margin-bottom: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ebdbb2;
  font-size: 15px;
}

#chatButtons {
  flex-direction: row;
  justify-content: space-between;
}

button {
  padding: 10px;
  width: 120px;
  background-color: #83a598;
  color: #fabd2f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #458588;
}

.main .page {
  margin-top: 20px;
}

.ll {
  display: flex;
  justify-content: center;
  color: #ebdbb2;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 15px;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes popOut {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

/* Mobile support */

@media (max-width: 1200px) {
  .main .faq-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: left; 
  }

  .main .faq-container .faq-content {
    margin-top: 10px;
  }

  .main .say {
    margin-top: 0.02vw;
    margin-bottom: 30px;
  }

  .main .blog img {
    display: none;
  }

  .main .blog {
    width: 88%;
    font-size: 15px;
  }

  .main .blog img {
    display: none;
  }

  #chatbox {
    width: 88%;
    font-size: 15px;
  }

  #userInput {
    width: auto;
    font-size: 12px;
  }

  #chatlog div {
    max-width: 80%;
    width: fit-content;
    font-size: 14px;
  }

  button {
    width: 40px;
    font-size: 12px;
  }

  .main .ll {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

@media (max-width: 649px) { 
  .main .image-container h1 {
    font-size: 40px;
  }

  .main .image-container p {
    font-size: 14px;
  }

  .main .faq-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: left; 
  }

  .main .faq-container .faq-content {
    max-width: 350px;
    max-height: 250px;
    font-size: 12px;
    padding: 12px 18px;
    margin-top: 10px;
  }

  .main .input {
    width: 16rem;
    height: 50px;
    margin-bottom: 7.5%;
    border-radius: 20px;
  }

  .main .say {
    margin-top: 0.02vw;
    margin-bottom: 30px;
    font-size: 12px;
  }

  .main .image-container .sosmed button {
    font-size: 15px;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .main .blog {
    width: 88%;
    font-size: 15px;
  }

  .main .blog img {
    display: none;
  }

  #chatbox {
    width: 88%;
    font-size: 15px;
  }

  #userInput {
    width: auto;
    font-size: 12px;
  }

  #chatlog div {
    max-width: 80%;
    width: fit-content;
    font-size: 14px;
  }

  button {
    width: 40px;
    font-size: 12px;
  }

  .main .ll {
    margin-top: 40px;
    margin-bottom: 10px;
  }
}
