@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

.main {
  min-height: 100vh;
  position: relative;
  width: 100%;
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main .say {
  margin-top: 7px;
  margin-bottom: 60px;
  color: #ebdbb2;
  font-weight: bold;
}

.main .ll {
  display: flex;
  justify-content: center;
  color: #ebdbb2;
  text-align: center;
  margin-top: 60px;
  font-size: 15px;
}

.main .image-container {
  margin-top: 30px;
  padding: 8px;
}

.main .image-container h1 {
  color: #fbf1c7;
  text-align: center;
  margin-bottom: 10px;
  font-size: 75px;
}

.main .image-container p {
  color: #ebdbb2;
  text-align: center;
  margin-bottom: 40px;
}

.main .input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 50px;
  border-radius: 20px;
  background: #83a598;
  border: solid 4px;
  border-color: #8ec07c;
  cursor: pointer;
}

.main .input .talk  {
  background: transparent;
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main .input .talk i {
  font-size: 25px;
  color: #fabd2f;
}

.main .input .content {
  color: #fabd2f;
  font-size: 15px;
  margin-right: 20px;
  cursor: text;
}

.main .image-container .sosmed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .image-container .sosmed button {
  background: transparent;
  color: #fbf1c7;
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 25px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}

.main .faq-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .faq-container .faq-content {
  max-width: 500px;
  max-height: 450px;
  display: block;
  margin-top: 30px;
  margin-right: 15px;
  margin-left: 15px;
  display: block;
  padding: 15px 25px;
  background-color: #fbf1c7; 
  color: #282828; 
  border: solid 8px #8ec07c; 
  border-radius: 4px;
  cursor: auto;
  font-size: 16px;
  width: 425px;
  height: 350px;
  text-align: left;
}

.main .faq-container .faq-content a {
  cursor: pointer;
}

@media (max-width : 576px) { 
  .main .image-container h1 {
    font-size: 40px;
  }

  .main .image-container p {
    font-size: 14px;
  }

  .main .faq-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: left; 
  }

  .main .faq-container .faq-content {
    max-width: 350px;
    max-height: 250px;
    font-size: 12px;
    padding: 12px 18px;
  }

  .main .input {
    width: 16rem;
    height: 50px;
    margin-bottom: 7.5%;
    border-radius: 20px;
  }

  .main .say {
    margin-top: 0.02vw;
    margin-bottom: 30px;
    color: #ebdbb2;
    font-weight: bold;
  }

  main .image-container .sosmed button {
    font-size: 15px;
  }

  .main .ll {
    margin-top: 40px;
    margin-bottom: 10px;
  }
}
