@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

.main {
  min-height: 100vh;
  position: relative;
  width: 100%;
  background-image: url("bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main .ll {
  display: flex;
  justify-content: center;
  color: #ebdbb2;
  text-align: center;
  margin-top: 210px;
  /* margin-bottom: 40px; */
  font-size: 15px;
}

.main .image-container {
  margin-top: 130px;
  padding: 10px;
}

.main .image-container h1 {
  color: #fbf1c7;
  text-align: center;
  margin-bottom: 10px;
  font-size: 60px;
}

.main .image-container p {
  color: #ebdbb2;
  text-align: center;
  margin-bottom: 40px;
}

.main .input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 50px;
  border-radius: 20px;
  background: rgba(131, 165, 152, 1);
  border: solid 4px;
  border-color: #8ec07c;
}

.main .input .talk  {
  background: transparent;
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main .input .talk i {
  font-size: 25px;
  color: #fabd2f;
}

.main .input .content {
  color: #fabd2f;
  font-size: 15px;
  margin-right: 20px;
}

.main .image-container .sosmed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .image-container .sosmed button {
  background: transparent;
  color: #fbf1c7;
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 25px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}
