@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: #282828;
  background-image: url("img/bg.svg");
  /* background-size: contain; */
  background-position: top;
}

.main {
  min-height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main .say {
  margin-top: 7px;
  margin-bottom: 20px;
  color: #ebdbb2;
  font-weight: bold;
}

.main .ll {
  display: flex;
  justify-content: center;
  color: #ebdbb2;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 15px;
}

.main .image-container {
  margin-top: 30px;
  padding: 8px;
}

.main .image-container h1 {
  color: #fbf1c7;
  text-align: center;
  margin-bottom: 10px;
  font-size: 75px;
}

.main .image-container p {
  color: #ebdbb2;
  text-align: center;
  margin-bottom: 40px;
}

.main .input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 50px;
  border-radius: 20px;
  background: #83a598;
  border: solid 4px;
  border-color: #8ec07c;
  cursor: pointer;
}

.main .input .talk  {
  background: transparent;
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main .input .talk i {
  font-size: 25px;
  color: #fabd2f;
}

.main .input .content {
  color: #fabd2f;
  font-size: 15px;
  margin-right: 20px;
  cursor: text;
}

.main .image-container .sosmed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .image-container .sosmed button {
  background: transparent;
  color: #fbf1c7;
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 25px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}

.main .faq-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .faq-container .faq-content {
  max-width: 500px;
  max-height: 450px;
  display: block;
  margin-top: 2px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 15px 25px;
  background-color: #fbf1c7; 
  color: #282828; 
  border: solid 8px #8ec07c; 
  border-radius: 4px;
  cursor: auto;
  font-size: 16px;
  width: 425px;
  height: 350px;
  text-align: left;
}

.main .blog {
  max-width: 1335px;
  max-height: 50000px;
  display: block;
  margin-top: 40px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 15px 25px;
  background-color: #fbf1c7; 
  color: #282828; 
  border: solid 8px #8ec07c; 
  border-radius: 4px;
  cursor: auto;
  font-size: 16px;
  width: 100%;
  text-align: left; 
}

.main .blog img {
  width: 10%;
  height: 10%;
  border-radius: 100%; 
}

#chatbox {
  max-width: 1335px;
  width: 100%;
  background-color: #fbf1c7;
  border-radius: 10px;
  border: solid 8px #8ec07c; 
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#chatlog {
  height: 350px;
  overflow-y: auto;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#chatlog div {
  margin-bottom: 10px;
}

#userInput {
  padding: 10px;
  margin-bottom: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ebdbb2;
  font-size: 15px;
}

#chatButtons {
  flex-direction: row;
  justify-content: space-between;
}

button {
  padding: 10px;
  width: 60px;
  background-color: #83a598;
  color: #fabd2f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #458588;
}

.main .page {
  margin-top: 20px;
}

/* Mobile support */

@media (max-width: 1200px) {
  .main .faq-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: left; 
  }

  .main .say {
    margin-top: 0.02vw;
    margin-bottom: 30px;
  }

  .main .blog img {
    display: none;
  }

  .main .ll {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

@media (max-width: 649px) { 
  .main .image-container h1 {
    font-size: 40px;
  }

  .main .image-container p {
    font-size: 14px;
  }

  .main .faq-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: left; 
  }

  .main .faq-container .faq-content {
    max-width: 350px;
    max-height: 250px;
    font-size: 12px;
    padding: 12px 18px;
    margin-top: 10px;
  }

  .main .input {
    width: 16rem;
    height: 50px;
    margin-bottom: 7.5%;
    border-radius: 20px;
  }

  .main .say {
    margin-top: 0.02vw;
    margin-bottom: 30px;
    font-size: 12px;
  }

  .main .image-container .sosmed button {
    font-size: 15px;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .main .blog {
    width: 88%;
    font-size: 15px;
  }

  .main .blog img {
    display: none;
  }

  #chatbox {
    width: 88%;
    font-size: 15px;
  }

  #userInput {
    width: auto;
    font-size: 12px;
  }

  button {
    width: 40px;
    font-size: 12px;
  }

  .main .ll {
    margin-top: 40px;
    margin-bottom: 10px;
  }
}
